.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 100%;

  }
  
  .header :hover{
      color: rgb(255, 240, 30);
      transform: scale(1.10);
  }

  .toggle-mode-button {
	padding: 10px 20px;
	background-color: rgb(112, 181, 226);
	color: white;
	border: none;
	border-radius: 8px;
	cursor: pointer;
    
  }

.dark-mode {
	background-color: black;
}

.dark-mode h1 {
	color: white;
}

.dark-mode p {
	color: white;
}

.container {
	max-width: 1000px;
	padding-right: 15px;
	padding-left: 15px;
	min-height: 100vh;
	margin:  auto; 
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}