
.metas-page {
  box-shadow:  80px 40px rgba(0, 0, 0, 0.1);
  justify-content: center;
  display: flex;
  
}
.metas-page p{
  font-family: "Merriweather", serif;
  font-weight: 700;

}
.metas-page h3{
  color: #70579a ;
  font-family: "Merriweather", serif;
  font-weight: bold;
 }
 .metas-page h1, .metas-page h2 {
  color: #008A99;
  font-family: "Merriweather", serif;
  font-weight: bold;
}

/* Formulário de criação de metas */
.formMetas{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;

}

.metas-page input[type="text"], textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

.metas-page input[type="checkbox"] {
  margin-left: 10px;
}


.metas-page button {
  padding: 10px 15px;
  background-color: #535ec6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}

.metas-page button:hover {
  background-color: #4c45a0;
}

