@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.home-img{
    background-image: url("img.webp");
    background-size: cover;
    background-position: center;
    height: 980px;
    width: auto;
    align-items: center;
    justify-content: center;
}
.title-font{
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-weight: bold;
    color:  #0b0b0b;
    /* background: linear-gradient(to right, #0071BB, #0072C1, #008A98, #008B9D, #008A99); */
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    
  }
  .body-font {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-weight: bold;
    color: black;
}
.home {
  background-image: url("imgFundo.png");
  background-size: cover;
}  

  .body-font {
    font-family: "Merriweather", serif;
    font-weight: 900;
    color: #333;
  }
  
  .custom-button {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #007BFF;
    transition: background-color 0.3s ease;
  }
  
  .custom-button:hover {
    background-color: #0056b3;
  }       
